@font-face {
  font-family: "Agave Nerd Font";
  src: url("/fonts/AgaveNerdFont-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Agave Nerd Font";
  src: url("/fonts/AgaveNerdFont-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Agave Nerd Font", monospace;
  background: #0d0b0e;
  color: #c5b3c6;
  line-height: 1.5;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  margin-bottom: 2rem;
}

p {
  margin-bottom: 1rem;
}

strong {
  color: #ded0de;
}
