name: Update Flake Inputs

on:
  workflow_dispatch: # allows manual triggering
  schedule:
    - cron: "0 3 * * 0" # every Sunday at 03:00 UTC

jobs:
  update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
      issues: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/determinate-nix-action@v3
      - uses: DeterminateSystems/update-flake-lock@main
        with:
          pr-title: "chore: update flake inputs"
          pr-labels: |
            dependencies
            automated
          git-author-name: github-actions[bot]
          git-author-email: github-actions[bot]@users.noreply.github.com
          git-committer-name: github-actions[bot]
          git-committer-email: github-actions[bot]@users.noreply.github.com
          auto-merge: "squash"
